*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

html, body, main {
    height: 100%;
}

body {
    background-color: #211A17;
}