.wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.slide-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slide-list {
    display: flex;
}

.slide-nav-button {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}

.slide-nav-previous {
    left: 25px;
    background-image: url(../../img/left.svg);
}

.slide-nav-next {
    right: 25px;
    background-image: url(../../img/right.svg);
}

.slide-item {
    flex-shrink: 0;
    padding: 0 20px;
    width: 65vw;
}

.slide-content {
    border: 1px solid #F1EBEA;
    border-radius: 10px;
    position: relative;
}

.slide-image {
    border-radius: 9px;
    width: 100%;
}

.slide-description {
    background: linear-gradient(to top, #000, transparent);
    border-radius: 10px;
    color: #F1EBEA;
    position: absolute;
    padding: 15px;
    bottom: 0;
    width: 100%;
}

.slide-description h3 {
    font-size: 2rem;
    margin-bottom: 0.4rem;
}

.slide-description p {
    font-size: 15px;
}

.slide-control-button {
    background-image: url(../../img/circle.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 15px;
}